{
    "parser": "typescript",
    "arrowParens": "avoid",
    "bracketSpacing": false,
    "endOfLine": "lf",
    "insertPragma": false,
    "printWidth": 120,
    "proseWrap": "always",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "all",
    "useTabs": false
}